<ion-header>
  <ion-navbar>
    <ion-title>
      Todas tus cuentas {{ username }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addAccountForm()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="addPaymentForm()">
        <ion-icon name="cash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" enabled>
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>


  <!--Listado de todas las compras en las que participa el usuario-->
  <ion-grid>
    <ion-row class="tituloCompras" size="6" align="center">
      <h2>Tus compras</h2>
    </ion-row>

    <ion-row>
      <ion-col size="4" align="center">
        <strong> Concepto </strong>
      </ion-col>
      <ion-col size="4" align="center">
        <strong> Total </strong>
      </ion-col>
      <ion-col size="4" align="center">
        <strong> Fecha </strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let account of allMyBuys" (click)="viewDetails(account.p_paymentid,account.p_name,account.p_date,account.p_pay)">
      <ion-col size="4" align="center">
        <ion-item>
          {{account.p_name}}
        </ion-item>
      </ion-col>
      <ion-col size="4" align="center">
        <ion-item>
          ${{account.p_payuser}} MXN
        </ion-item>
      </ion-col>
      <ion-col size="4" align="center">
        <ion-item>
          {{account.p_date.substring(0,10)}}
        </ion-item>
      </ion-col>
    </ion-row>
<!--.....................................................................................................-->
    <ion-row class="tituloDeudas" size="6" align="center">
      <h2>Tus Deudas</h2>
    </ion-row>
    <ion-row>
      <ion-col size="4" align="center">
        <strong> Concepto </strong>
      </ion-col>
      <ion-col size="4" align="center">
        <strong> Total </strong>
      </ion-col>
      <ion-col size="4" align="center">
        <strong> Fecha </strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let account of allMyDebts" (click)="viewDetails(account.p_paymentid,account.p_name,account.p_date,account.p_pay)">
      <ion-col size="4" align="center">
        <ion-item>
          {{account.p_name}}
        </ion-item>
      </ion-col>
      <ion-col size="4" align="center">
        <ion-item>
          ${{account.p_payuser}} MXN
        </ion-item>
      </ion-col>
      <ion-col size="4" align="center">
        <ion-item>
          {{account.p_date.substring(0,10)}}
        </ion-item>
      </ion-col>
    </ion-row>      
<!---------------------................................................................-------------------------->
       <ion-row class="tituloAbonos" size="6" align="center">
      <h2>Tus Abonos</h2>
    </ion-row>
    <ion-row>
      <ion-col size="4" align="center">
        <strong> Concepto </strong>
      </ion-col>
      <ion-col size="4" align="center">
        <strong> Total </strong>
      </ion-col>
      <ion-col size="4" align="center">
        <strong> Fecha </strong>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let account of allMyPayments" (click)="viewDetails(account.p_paymentid,account.p_name,account.p_date,account.p_pay)">
      <ion-col size="4" align="center">
        <ion-item>
          {{account.p_name}}
        </ion-item>
      </ion-col>
      <ion-col size="4" align="center">
        <ion-item>
          ${{account.p_payuser}} MXN
        </ion-item>
      </ion-col>
      <ion-col size="4" align="center">
        <ion-item>
          {{account.p_date.substring(0,10)}}
        </ion-item>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
