<ion-header>
  <ion-navbar>
    <ion-title>Detalles de:  {{ detailName }} </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <h3> Concepto: </h3>
    <label>{{ detailName }}</label>
    <h3> Total: </h3>
    <label> ${{ detailTotal }} MXN  </label>
    <ion-row>
      <ion-col>
        <h3> Fecha: </h3>
        <label> {{ detailDate.substring(0,10) }} </label>
      </ion-col>
      <ion-col>
        <h3> Hora: </h3>
        <label> {{ detailDate.substring(12,16) }} </label>
      </ion-col>
    </ion-row>

    <h3>Participante:</h3>
    <ion-row>
      <ion-col>
        <div id="iconParticipant"><ion-icon name="contact"></ion-icon></div>
      </ion-col>
      <ion-col>
        <div>{{myDetailName}}</div>
      </ion-col>
      <ion-col>
        <div>${{myDetailPay}} MXN</div>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let name of arr;let i = index">
      <ion-col>
        <ion-row *ngIf="i!=0">
          <ion-col>
            <div id="iconParticipant"><ion-icon name="contact"></ion-icon></div>
          </ion-col>
          <ion-col>
            <div>{{name.d_partyName}}</div>
          </ion-col>
          <ion-col>
            <div>${{name.d_deudap}} MXN</div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
